/////////////////////////////////////////////////////////////////////////////////
//
//		Application Configuration File (App.config)
//
/////////////////////////////////////////////////////////////////////////////////
//
// The application configuration file contains infomation as follows
//
// - A scope of detection (SCOPE) 
//	:: SCOPE could be set to LOCAL for stand-alone application, GLOBAL for distributed 
//	   application
//	
// - A Rule Scheduler (RULE_SCHEDULER)
//      :: Set ON when use the rule scheduler, otherwise set to OFF
//
// - A GED location (GED_URL)
//	:: GED_URL can be set as 129.107.12.242 or bangkok
//
// - A GED name (GED_NAME)
//	:: GED_NAME is the name of the global event detector that serves this application
//
// - A application location (APP_URL)
//	:: The location that this application is executed
//
// - A application name (APP_NAME)
//	:: APP_NAME is the name of this application
//
// e.g. 
// SCOPE GLOBAL
// RULE_SCHEDULER OFF
// GED_URL 129.107.12.242
// GED_NAME ged1
// APP_URL newdelhi
//
// SCOPE LOCAL
// RULE_SCHEDULER ON
//
//////////////////////////////////////////////////////////////////////////////////



SCOPE LOCAL
RULE_SCHEDULER OFF